<bs-header></bs-header>

<main class="p-6 flex flex-col max-w-[1200px] m-auto">
    <mat-form-field class="example-form-field w-full">
        <mat-label>Search</mat-label>
        <input matInput type="text" [(ngModel)]="searchTerm" (ngModelChange)="search($event)">
        @if (searchTerm) {
        <button matSuffix mat-icon-button aria-label="Clear" (click)="searchTerm=''" class="absolute w-6 h-6 -left-[18px] top-3">
            <mat-icon>close</mat-icon>
        </button>
        }
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <div class="flex flex-row gap-4">
        <mat-form-field class="w-1/2">
            <mat-label>Categories</mat-label>
            <mat-select [(value)]="selectedCategory" (selectionChange)="onCategoryChange(selectedCategory)">
                <mat-option>Clear</mat-option>
                @for (category of bookCategories; track category) {
                <mat-option [value]="category">{{category | titlecase}}</mat-option>
                }
            </mat-select>
        </mat-form-field>

        <mat-form-field class="w-1/2">
            <mat-label>Year</mat-label>
            <mat-select [(value)]="selectedYear" (selectionChange)="onYearChange(selectedYear)">
                <mat-option>Clear</mat-option>
                @for (year of bookPublishedYears; track year) {
                <mat-option [value]="year">{{year}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
    </div>

    <div class="mt-6 flex flex-row ">
        <bs-book-results [data]="resultBooks" (onBookClick)="navigateToBookView($event)"></bs-book-results>
    </div>
</main>